# website repo
site/

# generated docs
reference.xml

# linux temp files
*~

# apple and Xcode
.DS_Store
*.xcuserstate
*DerivedData/

# visual studio specific
*.suo
*.sdf
*.opensdf
*.user
*.lib

*Debug/
*Release/
*ipch/

# code blocks stuff
*.depend
*.layout
*.gch
*.cbTemp

*bin/
*obj/

# qt creator
*.5pre1
*.6pre1

