# Copyright (c) Borislav Stanimirov
# SPDX-License-Identifier: MIT
#
name: Unit Test
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  test:
    name: ${{ matrix.cfg.name }}
    runs-on: ${{ matrix.cfg.os }}
    strategy:
      matrix:
        cfg:
          # ubuntu sanitizing address, undefined, leak, thread
          - {name: 'linux gcc dbg s:addr,ub,leak', os: ubuntu-latest, btype: Debug, cmakeflags: '-DSAN_ADDR=1 -DSAN_UB=1 -DSAN_LEAK=1', buildflags: '-- -j'}
          - {name: 'linux gcc rel s:addr', os: ubuntu-latest, btype: RelWithDebInfo, cmakeflags: '-DSAN_ADDR=1', buildflags: '-- -j'}
          - {name: 'linux gcc rel s:thread', os: ubuntu-latest, btype: RelWithDebInfo, cmakeflags: '-DSAN_THREAD=1', buildflags: '-- -j'}
          # macos - no ub santizer (there are still some apple-specific ub sanitizer issues to fix)
          # https://github.com/iboB/dynamix/issues/44
          # also no leak sanitizer since it's not supported by apple
          - {name: 'mac clang dbg s:addr', os: macos-latest, btype: Debug, cmakeflags: '-DSAN_ADDR=1', buildflags: '-- -j'}
          - {name: 'mac clang rel s:addr', os: macos-latest, btype: RelWithDebInfo, cmakeflags: '-DSAN_ADDR=1', buildflags: '-- -j'}
          - {name: 'mac clang rel s:thread', os: macos-latest, btype: RelWithDebInfo, cmakeflags: '-DSAN_THREAD=1', buildflags: '-- -j'}
          # windows: no santizer with RelWithDebInfo (likely a msvc sanitizer bug... working on it)
          # https://developercommunity.visualstudio.com/t/Address-sanitizer-in-Release-may-introdu/10314256?port=1025&fsid=c7b0f725-0959-4e2d-b63e-e4711eb92eca
          - {name: 'win msvc dbg s:addr', os: windows-latest, btype: Debug, cmakeflags: '-DSAN_ADDR=1', buildflags: ''}
          - {name: 'win msvc rel', os: windows-latest, btype: RelWithDebInfo, cmakeflags: '', buildflags: ''}
    defaults:
      run:
        working-directory: ci
    steps:
      - name: Clone
        uses: actions/checkout@v3
      - name: VC Vars
        # Setup vcvars on Windows
        # MSVC's address sanitizer attaches dependencies to several DLLs which are not in PATH
        # vcvars will add them to PATH and allow msvc asan executables to run
        if: matrix.cfg.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@v1
      - name: Configure
        run: cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.cfg.btype }} ${{ matrix.cfg.cmakeflags }}
      - name: Build
        run: cmake --build . --config ${{ matrix.cfg.btype }} ${{ matrix.cfg.buildflags }}
      - name: Test
        run: ctest -C ${{ matrix.cfg.btype }} --output-on-failure
